<!-- navigation bar -->

<nav class="navbar navbar-light bg-light">

<!-- full width container-->
  <div class = "container-fluid">

    <h1 class = "text-dark primary py-3"  > USER MANAGEMENT SYSTEM</h1>

    <!-- header for button controls container -->
    <div class = "d-flex">
      <button class="btn btn-success"(click)="add()" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD USER</button>&nbsp;
      <button class="btn btn-warning">LOGOUT</button>
    </div>
  </div>
</nav>

<!--table-->
<table class="table mt-4">
  <thead>
    <tr style ="background-color: #E3DFCA">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">City</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Phemelo</td>
      <td>Motsamai</td>
      <td>Phemelo@digilink.africa</td>
      <td>(+27) 73 098 7499</td>
      <td>Johannesburg</td>
      <td>
        <button class="btn btn-primary"(click)="update()" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
        <button class="btn btn-danger">Delete</button>
      </td>

    </tr>
  </tbody>
</table>

<!-- Modal Bootsrap-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style ="background-color:#A6D49F;" class="modal-header">
        <h5  class="modal-title" id="exampleModalLabel">USER MANAGEMENT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--Modal Body-->
      <div class="modal-body">

        <!-- MOdal Form -->
        <form class="form-group">


          <!--Modal Input Name-->
          <div class="row mb-3">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <!--Name Input control-->
              <input type="name" class="form-control"
              id="inputName" placeholder="Enter First Name">
            </div>
          </div>

          <!--Modal Input Surname-->
          <div class="row mb-3">
            <label for="inputSurname" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-10">
          <!--Surname Input control-->
              <input type="name" class="form-control"
               id="inputSurname" placeholder="Enter Surname">
            </div>
          </div>

          <!--Modal Input Email-->
          <div class="row mb-3">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
          <!--Email Input control-->
          <input type="email" class="form-control"
          id="inputEmail" placeholder="Enter email">
          </div>
          </div>

          <!--Modal Input Mobile-->
          <div class="row mb-3">
          <label for="inputMobile" class="col-sm-2 col-form-label" placehorder="Enter mobile number">Mobile</label>
          <div class="col-sm-10">
          <!--Mobile Input control-->
          <input type="tel" class="form-control"
           id="inputMobile" placeholder="Enter Mobile Number">
          </div>

          </div>

          <!--Modal Input City-->
          <div class="row mb-3">
          <label for="inputCity" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
          <!--City Input control-->
          <input type="name" class="form-control"
           id="inputCity" placeholder="Enter city name" >
          </div>
          </div>

        </form>
      </div>
      <!--Modal Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showadd" type="button" class="btn btn-success">Add new User</button>
        <button *ngIf="showupdate" type="button" class="btn btn-success">Update changes</button>
      </div>
    </div>
  </div>
</div>
