<!-- navigation bar -->

<nav class="navbar navbar-light bg-light">

<!-- full width container-->
  <div class = "container-fluid">

    <h1 class = "text-dark primary py-3"  > USER MANAGEMENT SYSTEM</h1>

    <!-- header for button controls container -->
    <div class = "d-flex">
      <button class="btn btn-success">ADD USER</button>&nbsp;
      <button class="btn btn-warning">LOGOUT</button>
    </div>
  </div>
</nav>

<!--table-->
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">City</th>
      <th scope="col">Mobile</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Phemelo</td>
      <td>Phemelo@digilink.africa</td>
      <td>(+27) 73 098 7499</td>
      <td>Johannesburg</td>
      <td>(+27) 73 098 7499</td>
      <td>
        <button class="btn btn-primary">Edit</button>&nbsp;
        <button class="btn btn-danger">Delete</button>
      </td>

    </tr>
  </tbody>
</table>
