<!-- navigation bar -->

<nav class="navbar navbar-light bg-light">

<!-- full width container-->
  <div class = "container-fluid">

    <h1 class = "text-dark primary py-3"  > USER MANAGEMENT SYSTEM</h1>

    <!-- header for button controls container -->
    <div class = "d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD USER</button>&nbsp;
      <button class="btn btn-warning">LOGOUT</button>
    </div>
  </div>
</nav>

<!--table-->
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">City</th>
      <th scope="col">Mobile</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Phemelo</td>
      <td>Phemelo@digilink.africa</td>
      <td>(+27) 73 098 7499</td>
      <td>Johannesburg</td>
      <td>(+27) 73 098 7499</td>
      <td>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
        <button class="btn btn-danger">Delete</button>
      </td>

    </tr>
  </tbody>
</table>

<!-- Modal Bootsrap-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">USER MANAGEMENT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
